@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
body{

	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	background-image:url(../MainPage_img/IMG_6302.JPG);
	background-size:cover;
}

.topbar{
	width: 100%;
	position:fixed;
	height: 100px;
	z-index: 0;
	left: 0px;
	top: 0px;
	background-color:#5a7285;
	box-shadow: 1px 3px 3px black;
	}
	
h1{
	text-align:center;
	font-family:"Times New Roman", serif;
	font-size:50px;
	color:white;
	text-shadow: 1px 1px 1px black;
	}

#login {

	margin-left: 20%;
	margin-right: 20%;
	width: 300px;
	float: left;
	font-family: raleway;
	border: 2px solid black;
	box-shadow: 0px 1px 2px black;
	padding: 10px 40px 25px;
	margin-top: 200px;
	background-color: white;
	opacity:0.85;
}
input[type=text], input[type=password] {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	border: 1px solid #ccc;
	padding-left: 5px;
	font-size: 16px;
	font-family: raleway
}
input[type=submit] {
	width: 60%;
	margin-top:2em;
	margin-left:20%;
	margin-right:20%;
	background-color: #5a7285;
	color: #fff;
	border: 2px solid black;
	padding: 10px;
	font-size: 15px;
	margin-bottom: 15px;
}
#profile {
	padding: 50px;
	border: 1px dashed grey;
	font-size: 20px;
	background-color: #DCE6F7
}

a {
	text-decoration: none;
	color: #6495ed
}

.register{
	padding:1em;
	
}
